<table class="table table-striped">
    <thead  class="table-light">
        <tr>
            <th>ID</th>
            <th>Names</th>
            <th>LAST NAMES</th>
            <th>Email</th>
            <th>BIRTH DATE</th>
            <th>ADDRESS</th>
            <th>PHONE</th>
        </tr>
    </thead>

    <tr>
        
            <td>@Model.Id</td>
            <td>@Model.Names</td>
            <td>@Model.LastNames</td>
            <td>@Model.Email</td>
            <td>@Model.BirthDate</td>
            <td>@Model.Address</td>
            <td>@Model.Phone</td>

    </tr>
</table>